<%- include('header') -%>
    <div class="container text-center">
        <div class="row">
            <div class="col-5 mx-auto">
                <h4>
                    TOP1 RIG
                </h4>
            </div>
        </div>
        <div class="row">
            <div style="border: 2pt solid black; border-radius: 8pt;" class="col-md-5 col-sm-8 col-8 mx-auto mb-3">
                <div class="text-left">
                    <h6>Name: Ultimate RIG 2021</h6>
                    <h6>Hashrate: 93 mh/s</h6>
                    <h6>Price: 7850 USD</h6>
                    <hr class="dropdown-divider" style="border-color:black">
                    <h5>Parts</h5>
                    <h6>CPU: <span>Intel Celeron 123</span></h6>
                    <h6>RAM: <span>4 GB DDR4 Ram</span></h6>
                    <h6>GPU: <span>nVidia RTX GPU<span></h6>
                    <h6>SSD: <span>SSD 120 GB</span></h6>
                    <h6>PSU: <span>1600 W Platinum</span></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>
                            TOP2 RIG
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div style="border: 2pt solid black; border-radius: 8pt;"
                        class="col-md-8 col-sm-10 col-10 mx-auto mb-3">
                        <div class="text-left">
                            <h6>Name: Medium RIG 2021</h6>
                            <h6>Hashrate: 80 mh/s</h6>
                            <h6>Price: 7000 USD</h6>
                            <hr class="dropdown-divider" style="border-color:black">
                            <h5>Parts</h5>
                            <h6>CPU: <span>Intel Celeron 333</span></h6>
                            <h6>RAM: <span>4 GB DDR4 Ram</span></h6>
                            <h6>GPU: <span>AMD RX GPU<span></h6>
                            <h6>SSD: <span>SSD 120 GB</span></h6>
                            <h6>PSU: <span>1600 W Platinum</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>
                            TOP3 RIG
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div style="border: 2pt solid black; border-radius: 8pt;"
                        class="col-md-8 col-sm-10 col-10 mx-auto mb-3">
                        <div class="text-left">
                            <h6>Name: Medium V2 RIG 2021</h6>
                            <h6>Hashrate: 74 mh/s</h6>
                            <h6>Price: 6700 USD</h6>
                            <hr class="dropdown-divider" style="border-color:black">
                            <h5>Parts</h5>
                            <h6>CPU: <span>Intel Celeron 21</span></h6>
                            <h6>RAM: <span>4 GB DDR4 Ram</span></h6>
                            <h6>GPU: <span>nVidia RTX GPU<span></h6>
                            <h6>SSD: <span>SSD 120 GB</span></h6>
                            <h6>PSU: <span>1600 W Platinum</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pb-2">
            <div class="col-5 mx-auto">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter password">
                    </div>
                    <button type="submit" id="submitlogin" class="btn btn-dark">Submit</button>
                    <button type="submit" id="submitregister" class="btn btn-dark">Register</button>
                </form>
            </div>
        </div>
        <hr>
    </div>

    <script src="https://kit.fontawesome.com/7cd2bf1b08.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <%- include('footer') -%>